$color_1: transparent;

.blocStars {
    min-width: 150px;
}

.menu__heart {
    position: relative;
    top: -19px;
    right: 27px;

    .box-hidden {
        background: #fff;
    }
}

.fa-heart {
    &::before {
        content: "\f004";

    }
}

.far.fa-heart {
    cursor: pointer;
    font-size: 29px;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 5;
    overflow: hidden;
    transition: 0.5s;


    &:hover {
        color: $color_1;

        + {
            .box-hidden {
                bottom: 39px;
                visibility: hidden;
                background: transparent;
                transition: .5s;
            }
        }
    }
}

.fab {
    font-weight: 400;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.far {
    font-weight: 400;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;

}

.fa {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fad {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fal {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fas {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.box-hidden {
    position: absolute;
    width: 29px;
    height: 29px;
    right: 10px;
    bottom: 10px;
    background: #f0f0f0;
    transition: all .3s ease;
    z-index: 2;
}

.fas.fa-heart {
    font-size: 28px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: linear-gradient(to top, $color-rose, $color-violet);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: $color_1;
}