// $color_1: transparent;

.blocHeart {
    min-width: 150px;

    .menu__heart {
        position: relative;
        top: -19px;
        right: 27px;
        margin: 3px;

        .far.fas {
            font-weight: 400;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;

        }

        .fa-heart {
            &::before {
                content: "\f004";
            }
        }

        .box-hidden {
            background: $color-white;
        }
    }
}

.far.fa-heart {
    cursor: pointer;
    font-size: 29px;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 5;
    overflow: hidden;
    transition: 0.5s;
    padding: 3px;


    &:hover {
        color: $color-transparent;

        + {
            .box-hidden {
                bottom: 39px;
                visibility: hidden;
                background: transparent;
                transition: 0.6s;
            }
        }
    }
}

.box-hidden {
    position: absolute;
    width: 29px;
    height: 29px;
    right: 10px;
    bottom: 10px;
    background: $color-grisBlanc;
    transition: all .3s ease;
    z-index: 2;
    margin: 3px;
    transition: 1s;
}

.fas.fa-heart {
    font-size: 28px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: linear-gradient(to top, $color-rose, $color-violet);
    //background-clip: ne s'étend plus au-dessous de sa frontière
    background-clip: border-box;
    -webkit-background-clip: text;
    color: $color-transparent;
    padding: 3px;
}