.indexPage {
    opacity: 1;
    animation: pageAppear 3s;
}

$primary: blue;
$secondary: magenta;
$space-lg: 1.5rem;
$radius-circle: 50%;

// On load timer
$loading: 3s;

@keyframes loading {

    0%,
    99% {
        z-index: 12;
        opacity: 1;
    }

    100% {
        z-index: -1;
        opacity: 0;
    }
}

@keyframes loading-logo {
    from {
        opacity: 0.75;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-screen {
    animation: loading $loading both;
    position: fixed;
    top: 0px;
    z-index: 10;
    height: 110vh;
    width: 100%;
    margin: -8px;
    background-color: $color-grisMarron;
    display: flex;
    // flex-flow: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    // animation: loading 3s;



    &__title {
        font-family: $font-family_2;
        padding: $space-lg;
        position: relative;
        background: linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        background-clip: text;
        color: rgba(0, 0, 0, 0);
        opacity: 0;
        font-size: 3.5rem;
        z-index: 20;
        animation: loading $loading both, loading-logo 1s ease-in-out both infinite alternate;

        &::before {
            content: "";
            position: absolute;
            top: -5rem;
            left: calc(50% - 2.5rem);
            background: linear-gradient($primary, $secondary);
            height: 5rem;
            width: 5rem;
            border-radius: $radius-circle;
            animation: rotation 200ms linear infinite;
        }

        &::after {
            content: "";
            position: absolute;
            top: -4.5rem;
            left: calc(50% - 2rem);
            background-color: $color-grisMarron;
            height: 4rem;
            width: 4rem;
            border-radius: $radius-circle;
        }
    }
}