$color-white: #fff;
$color-black: rgb(0, 0, 0);

//input color
$color-aliceblue: aliceblue;
$color-grisMapp: #f2f2f2;

//input color
$color-grisClair: #f6f6f6;
$color-violetClair: #f2eafb;

//carte
$color-textGris: #4c4545;

// linearGradient bouton
$color-rose: #ff79da;
$color-violet: #9657db;

$color-grisiCones: #9657db00;

//tags
$color-vertClair: #99e2d0;
$color-vertFonce: #278870;

//background
$color-gris: #ececec;

$color-grisFonce: #9b9797;
//background footer
$color-grisMarron: #323232;

//------------------

$font-family_1: 'Raleway', sans-serif;

$font-family_2: "Shrikhand", "sans-serif";


//------------------