/*/ GENERAl CSS : ACCUEIL-INDEX et les RESTO-INDEX /*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

html {
	scroll-behavior: smooth;
}

/*/  a   /*/

a {
	text-decoration: none;
	color: black;
	display: contents;
}

ul li a {
	color: #fff;
}

a:hover {
	color: black;
}

/*/ GENERAL HEADER /*/

/*header bar*/

.header--margtop-8 {
	margin-top: -8px;
}

.topBar {
/*		position: fixed;*/
	position: absolute;
	background: #fff;
	top: 8px;
	margin: -8px;
	width: 100%;
	z-index: 10;
	box-shadow: 0px -14px 10px 10px;
}

.alignC {
	text-align: center;
}

/*logo*/
.marglogo {
	width: 185px;
	padding-top: 8px;
	margin: 25px auto 10px auto;
}

/*accueil slogan*/

/*Recherche localité INPUT*/
.flexCentre {
	display: flex;
	justify-content: center;
	align-items: center;
}

.recherche {
	height: 55px;
}

.recherche:hover {
	background-color: aliceblue;
}

.iconMapp {
	width: 50px;
	height: 50px;
	border-radius: 10px 0 0 10px;
	background: #f2f2f2;
}

.bordure_input {
	border: none;
	box-shadow: inset 3px 3px 6px 0 rgb(204, 219, 232)
}

/*bouton*/

.button_1 {
	display: block;
	color: #fff;
	border: none;
	border-radius: 50px;
	/*! padding: 1em 2em; */
	background: linear-gradient(to bottom, #FF79DA, #9356DC);
	box-shadow: 0 5px 20px -10px #000;
	transition: all .3s;
	cursor: pointer;
	font-size: 20px;
	/*! text-align: ; */
	padding: 19px 32px 22px 32px;
}

.button_1:hover {
	opacity: 0.9;
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.27);
}

/*/ Fonctionnemement organisation /*/

/*titre*/
.titre--marg20 {
	margin: 20px;
	font-size: 24px;
}

/*filtre*/
.filtre {
	display: flex;
	flex-wrap: wrap;
}

/*selection*/

.filtreTexteIcons {
	height: 75px;
	border-radius: 20px;
	margin: 12px auto 12px auto;
	background: #f6f6f6;
	font-weight: bold;
	box-shadow: -18px 3px 20px -14px #000;
	max-width: 100%;
}

.filtreTexteIcons:hover {
	background: #f2eafb;
}

.filtreTexteIcons:hover > .filtreTexte .fa-solid {
	color: #9657db;
}

.filtreIcons {
	border-radius: 25px;
	min-width: 31px;
	height: 31px;
	color: #fff;
	background-color: #9657db;
	font-size: 18px;
	margin-left: -17px;
	box-shadow: -17px 4px 19px #0006;
}

.filtreTexte {
	width: 360px;
	height: 50px;
	padding: 0px 66px 0px 0px;
	border-radius: 0 25px 25px 0;
}

.filtreIcons_2 {
	color: #9b9797;
	background-color: #9657db00;
	font-size: 22px;
margin: 10px;
}

/*Espace selection restaurants*/

.section--bgdGray {
	background: #ececec;
}

.bloc {
	margin: -8px;
}

/*titre*/

.titre--padd5 {
	font-size: 28px;
}

/*premier container*/

.bloc_1 {
	/*! margin-bottom: 65px; */
	padding-top: 1px;
}


/*article 1*/

/*illustration*/
.bgd-brd-White {
	background: #fff;
}

.article--border {
	border-radius: 20px;
	margin: 30px 20px 30px 20px;
	box-shadow: 0 4px 15px 0 #00000096;
}

.block {
	display: block;
	position: relative;
}

.articleBlock--size {
	background-size: cover;
	background-position: center;
	max-width: 710px;
	height: 220px;
	border-radius: 15px 15px 0 0;
	overflow: hidden;
}


/*tag promo*/
.img__tag {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 15px;
	right: 15px;
	border-radius: 3px;
	font-weight: bold;
	color: #278870;
	height: 30px;
	background: #99e2d0;
	box-shadow: 0 0 15px -10px;
	padding: 10px;
}

/*legende*/

.legende {
	max-height: 200px;
	max-width: 100%;
	padding-bottom: 7px;
}

.RH {
	/*! margin: 10px 0px 0px 15px; */
	margin: initial;
	padding: 0px 0px 0px 15px;
}

/*/ coeur indicateur choix /*/
.blocStars {
	/* background-color: #87b5de00; */
	min-width: 150px;
}

/*coeur*/
.menu__heart {
	position: relative;
	top: -19px;
	right: 27px;
	/*! overflow: hidden; */
}


.fa-heart::before {
	content: "\f004";
}

.far.fa-heart {
	cursor: pointer;
	font-size: 29px;
}

.far.fa-heart {
	cursor: pointer;
	font-size: 28px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 5;
	overflow: hidden;
	transition: 0.5s;
}

.fab,
.far {
	font-weight: 400;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

.far.fa-heart:hover {
	color: transparent;
}

/*cache coeur*/
.menu__heart .box-hidden {
	background: #fff;
}

/*heart hover*/
.far.fa-heart:hover + .box-hidden {
	bottom: 39px;
	visibility: hidden;
	background: transparent;
	transition: .5s;
}

.box-hidden {
	position: absolute;
	width: 29px;
	height: 29px;
	right: 10px;
	bottom: 10px;
	background: #f0f0f0;
	transition: all .3s ease;
	z-index: 2;
}

/*coeur de coleur*/
.fas.fa-heart {
	font-size: 28px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: linear-gradient(to top, #FF79DA, #9356DC);
	/* background-clip: border-box; */
	background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
}

/*/ Footer /*/

.footer {
	padding: 10px;
	margin: -8px;
	background: #323232;
	color: #fff;
}

.tailleBlocfoot {
	margin: 0px 0px 50px 0px;
}

.fontShrikhand {
	font-family: "Shrikhand", "sans-serif";
}

.filtreIcons_3 {
	color: #fff;
	background-color: #9657db00;
	font-size: 22px;
	margin-right: 10px;
}

ul li {
	list-style-type: none;
}

/*/ ACCUEIL-INDEX grande taille seulement /*/

@media screen and (min-width: 768px) {

	/*flexbox*/

	.flexBetween {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/* COLUMN */

	.flexColumnCentre {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.flexColumnAround {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

	}

	/* search */
	.bordureSearch {
		width: 400px;
		border-radius: 10px;
		font-size: 18px;
		/* color: black; */
		font-weight: bold;
		border: 0.5px solid #f2f2f2;
	}

	.paddingSearch {
		padding-left: 20px;
	}

	.recherche {
		width: 230px;
	}

	/* Organisation  selection, composition, réservation */

	.flexTitre {
		display: flex;
		justify-content: space-around;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	/*titre--padd5*/

	.filtre {
		justify-content: space-evenly;
	}

	/*  Espace selection restaurant */

	.section--size {
		height: 850px;
	}

	.bloc {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 10px;
	}

	/*BOUTON*/

	.button_1 {
		margin: 7em 65px 0em auto;
	}

	/*block introduction*/
	.frexContainer {
		margin: -8px;
		background: #ececec;
		display: flex;
		justify-content: space-around;
		padding: 0px 0px 20px 20px;
	}

	.block__margTop {
		margin-top: 80px;
	}

	/*Espace selection restaurants*/
	/*premier container*/
	.resto--flexCentre {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/*fin de media*/
}

/*/ ACCUEIL-INDEX taille MOBILE seulement /*/

@media screen and (max-width: 768px) {

	/*flexbox*/

	.flexfiltre {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/*accueil slogan*/
	h1 {
		font-size: 1.3em;
	}

	.marg-top {
		margin-top: 60px;
	}


	/* HEADER */

	.block__margTop {
		margin-top: 87px;
		/*! padding-left: 10px; */
	}

	.flexcolumRevrese {
		display: flex;
		flex-direction: column-reverse;
		background: #ececec;
		margin: -8px;
	}

	/*partie slogan avec titre h1*/

	.texteGras {
		font-family: 'Raleway', sans-serif;
		font-size: 30px;
		font-weight: 700;
		margin: 0px 30px 0px 30px;
	}

	.alignC2 {
		text-align: center;
	}

	.ajust {
		font-family: 'Roboto', sans-serif;
		font-size: 22px;
		padding: 0px 22px 0px 23px;
	}

	/* recherche localité input*/

	.bordureSearch {
		justify-content: center;
		border-radius: 10px;
		font-size: 18px;
		font-weight: bold;
	}

	.wight100 {
		min-width: 100%;
		position: relative;
	}

	.recherche {
		left: 0px;
		background: #75757500;
	}

	.bordure_input {
		background: #0000000a;
	}

	.filtre {
		justify-content: center;
	}

	/* 1er bloc responsive des deux premier articles */
	.bloc {
		padding-bottom: 10px;
	}

	/*Fonctionnemement organisation*/

	.flexTitre {
		margin: -8px;
		padding: 0px 20px 60px 20px;
		background: #fff;
	}

	/*titre*/
	.titre--padd5 {
		padding: 5%;
		font-weight: bold;
		padding-top: 50px;
	}

	/*bouton*/
	.button_1 {
		margin: 2em auto 4em auto;
	}


	.primary {
		background: #fff;
	}



	.section--bgdMarg {
		background: #ececec;
		margin: -8px;
	}

	/*accolade de fermeture*/
}

/*-------------------------------------------*/

/*/ PALETTE, LA NOTE, FRANCAISE, DELICE /*/

/*/ HEADER /*/

/*block logo*/

.blocLogo--flex {
	width: 100%;
	height: auto;
	position: relative;
}

/*fleche*/

.arrow--ajust {
	display: block;
	margin: 37px 20px 20px 20px;
	background: #6dafea00;
	position: absolute;
	z-index: 2;
}

/*/ BANIERE IMAGE /*/

.img--marg8 {
	margin: -8px;
}

.img--width {
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 360px;
	object-fit: cover;
	top: 1px;
	position: relative;
}

.imgMobil--width {
	width: 100%;
	margin: -8px;
	margin-top: 79px;

}

/*débordement sur image*/

.bloc__img--margin {
	margin-top: -49px;
	display: flex;
	justify-content: center;
	height: 58px;
}

.blocTitre--padTop {
	display: flex;
	justify-content: space-between;
	padding: 23px 25px 0px 25px;
}

/*titre*/

.titre--font {
	font-family: "Shrikhand", "sans-serif";
	font-weight: bold;
	font-size: 27px;
	line-height: 0px;
	display: inline-block;
}

/*coeur*/

.menu__heart-2 {
	position: relative;
	top: -6px;
}

/* Selection carte */

.blocMobile--pad {
	padding-bottom: 57px;
	/*! padding-top: 10px; */
}

/*sections menus*/

/*les Entrées*/

.menu__type {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	width: 50px;
	border-bottom: 4px solid #99e2d0;
	color: #4c4545;
	line-height: 32px;
}

.menu__meal {
	position: relative;
	padding-left: .5em;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 5px 20px -10px #000;
	margin: 1em auto;
	overflow: hidden;
	cursor: pointer;
	animation: fadeInMenus ease-out;
}

.menu__meal-1 {
	padding-top: 20px;
	position: relative;
	padding-left: 10px;
	/*	background: #fff;*/
	border-radius: 15px;
	/*	box-shadow: 0 5px 20px -10px #000;*/
	margin: 1em auto;
	overflow: hidden;
	cursor: pointer;
	animation: fadeInMenus ease-out;

}

.menu__title {
	font-size: 18px;
}

/*/ ANIMATION TEXTE RETRAIT /*/

.meal--mobielSize {
	max-width: 360px;
	height: 75px;
}

.meal--mobielSize:hover .menu__titleMobile,
.meal--mobielSize:hover .menu__text {
	transition: all 2s ease;
	white-space: nowrap;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;

}

.menu__text {
	max-width: 303px;
	margin: initial;
	font-size: 16px;
}

.menu__price {
	position: absolute;
	right: 20px;
	bottom: 8px;
	font-size: 14px;
	transition: right 1s ease;
}

/*/ ANIMATION PRIX /*/

.menu__meal:hover .menu__price {
	transition: right .5s ease;
	right: 70px;
}

/*rotation*/

.menu__icon {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: -60px;
	top: 0;
	background: #99e2d0;
	width: 62px;
	height: 100%;

	transform: translateX(100%);
	/*    transition: 0.5s;*/
	transition: 1.5s;
}

/*rotation*/

.menu__meal:hover .menu__icon {
	transition: right .5s ease;
	right: 0;
	transform: translateX(0);
}

.menu__meal:hover > .menu__icon i {
	transform: rotate(1turn);
}


.menu__meal .menu__icon i {
	position: relative;
	font-size: 1.4em;
	color: white;
	transform: rotate(-1turn);
	transition: 0.5s;
}

.menu__titleMobile {
	margin: initial;
	padding-top: 15px;
	max-width: 301px;
}

.fa-check-circle::before {
	content: "\f058";
	color: white;
}

i .fa-solid .fa-circle-check {
	color: #ffffff;
}

.img__div--border {
	width: 600px;
	background: #ececec;
	border-radius: 40px 40px 0 0;
	position: sticky;
	box-shadow: 0px -19px 19px -22px #000;
}


/*BOUTON*/


.blocBouton--marginMobile {
	margin-top: 50px;
}

.button_1.btn--margAuto {
	margin: auto;
}

/*/ ANIMATION slower and fadeInUp /*/

/*=== Trigger  ===*/

.animate {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/*=== Optional Delays  ===*/

.one {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.two {
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	animation-delay: 1.7s;
}

.three {
	-webkit-animation-delay: 2.3s;
	-moz-animation-delay: 2.3s;
	animation-delay: 2.3s;
}

.four {
	-webkit-animation-delay: 3.3s;
	-moz-animation-delay: 3.3s;
	animation-delay: 3.3s;
}


/*==== FADE IN UP ===*/

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

/*/ ANIMATION LOADER /*/

.loader {
	position: fixed;
	top: 0;
	z-index: 20;
	height: 110vh;
	width: 100%;
	margin: -8px;
	background-color: #323232;
	color: #fff;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transform: translateX(-100%);
	animation: loading 2s;
}

.loader__wrapper {
	width: 250px;
	height: 10px;
	margin: 20px;
	padding: 2px;
	border: solid 1px #9657db;
	border-radius: 15px;
}

.loader__bar {
	width: 100%;
	height: 100%;
	/*	background: #ff79da;*/
	background: linear-gradient(to bottom, #FF79DA, #9356DC);
	border-radius: 15px;
	transform-origin: left;
	animation: progression 3s;
}

.indexPage {
	opacity: 1;
	animation: pageAppear 2s;
}

@keyframes loading {
	0% {
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}


@keyframes pageAppear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes progression {
	0% {
		transform: scaleX(0);
	}

	40% {
		transform: scaleX(0.3);
	}

	60% {
		transform: scaleX(0.8);
	}

	80% {
		transform: scaleX(0.9);
	}

	100% {
		transform: scaleX(1);
	}
}

.RH1 {
	font-size: 20px;
	margin: 18px 0px 4px 15px;
	/*! margin: initial; */
}

.flexEvenly {
display: flex;
justify-content: space-evenly;
align-items: center;
}
