// block introduction

.P--colorGray {
    color: $color-pGray;
}

@media screen and (min-width: 768px) {

    .flexContainer {
        margin: -8px;
        background: $color-gris;
        display: flex;
        justify-content: space-around;
        padding: 0px 0px 20px 20px;
    }

    .block__margTop {
        margin-top: 80px;
    }

    // Espace selection restaurants

    // premier container 

    .resto--flexCentre {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {

    .flexcolumRevrese {
        display: flex;
        flex-direction: column-reverse;
        background: $color-gris;
        margin: -8px;

        //Accueil slogan

        .marg-top {
            margin-top: 60px;

            h1 {
                // font-size: 2em;
            }

            .texteGras {
                font-family: $font-family_1;
                font-size: 30px;
                font-weight: 700;
                margin: 0px 30px 0px 30px;
            }
        }

    }



    .alignC2 {
        text-align: center;
    }

    .ajust {
        font-family: $font-family_3;
        // font-size: 22px;
        font-size: 18px;
        padding: 0px 22px 0px 23px;
    }

    .block__margTop {
        margin-top: 88px;
    }

}