// BANIERE IMAGE 

.img--marg8 {
    margin: -8px;
}

.img--width {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    object-fit: cover;
    top: 1px;
    position: relative;

    @media screen and (min-width: 535px) {
        height: 360px;

    }

}

.imgMobil--width {
    // width: 100%;
    margin: -8px;
    margin-top: 79px;


}

// images

.palette-m {
    @include banniere-img($img-palette);
}

.delice-m {
    @include banniere-img($img-delice);
}

.francaise-m {
    @include banniere-img($img-francaise);
}

.note-m {
    @include banniere-img($img-note);
    /* background-position: 0 -120px;*/

}