// BOUTON

.button_1 {
    display: block;
    color: $color-white;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to bottom, $color-rose, $color-violet);
    // box-shadow: 0 5px 20px -10px #000;
    @include btn-shadow;
    transition: all .3s;
    cursor: pointer;
    font-size: 20px;
    padding: 19px 32px 22px 32px;

    @media screen and (min-width: 768px) {
        margin: 7em 65px 0em auto;
    }

    @media screen and (max-width: 768px) {
        margin: 2em auto 4em auto;

    }

    &:hover {
        opacity: 0.9;
        @include btnHover-shadow;
    }
}

// ajust menu BOUTON


.blocBouton--marginMobile {
    margin-top: 50px;
}

.button_1.btn--margAuto {
    margin: auto;
}