/*/ Footer /*/

.footer {
    padding: 10px;
    margin: -8px;
    background: $color-grisMarron;
    color: $color-white;

    .tailleBlocfoot {
        margin: 0px 0px 50px 0px;

        //p
        .filtreIcons_3 {
            color: $color-white;
            font-size: 22px;
            margin-right: 10px;
        }
    }
}

// h3
.fontShrikhand {
    font-family: $font-family_2;
}

ul {
    li {
        list-style-type: none;
    }
}

.footer a {
    text-decoration: none;
    color: $color-white;
    display: contents;

    &:hover {
        color: $color-black;
        text-shadow: 0px 1px 6px white;
    }
}