// GENERAL HEADER 

// header bar

.header--margtop-8 {
    margin-top: -8px;
}

.topBar {
    // position: fixed;
    position: absolute;
    background: #fff;
    top: 8px;
    margin: -8px;
    width: 100%;
    z-index: 10;
    box-shadow: 0px -14px 10px 10px;
}


// logo
.marglogo {
    width: 185px;
    padding-top: 8px;
    margin: 25px auto 10px auto;
}

// PALETTE, LA NOTE, FRANCAISE, DELICE 

// HEADER 

//block logo

.blocLogo--flex {
    width: 100%;
    height: auto;
    position: relative;
}

//fleche

.arrow--ajust {
    display: block;
    margin: 37px 20px 20px 20px;
    background: #6dafea00;
    position: absolute;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .primary {
        background: $color-white;
    }
}